annotated-types
anyio
astroid
autopep8
certifi
charset-normalizer
dill
distro
exceptiongroup
h11
httpcore
httpx
idna
isort
jiter
mccabe
openai
platformdirs
pycodestyle
pydantic
pydantic_core
pylint
python-dotenv
requests
resend
ruff
sniffio
tomli
tomlkit
tqdm
typing-inspection
typing_extensions
urllib3
